#Section1 {
   font-size: 15px;
   background-color: aqua;
}

#Section2 {
   font-size: 25px;
   background-color: darkcyan;
}

#Section3 {
   font-size: 35px;
   background-color: greenyellow;
}

#nform  { display: table;      }
#np     { display: table-row;  }
#nlabel { display: table-cell; text-align: right}
#ninput { display: table-cell; }